<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/tailwind.css" rel="stylesheet">
</head>

<body>
    <%- include('../Navbar'); %>
        <div class="container m-auto px-30 grid lg:grid-cols-3 grid-cols-1 py-[70px]">
            <div class="post col-span-2 rounded-sm">
                <form class="flex flex-col shadow-md p-3 mt-1">
                    <label for="title" class="text-3xl capitalize mt-2 mb-1 font-semibold text-gray-700">title</label>
                    <input value="<%= post ? post.title : '' %>" required onchange="setObject(this)" type="text" name="title" id="title"
                        class="shadow-md shadow-gray-200 rounded-md px-2 py-3 text-xl"
                        placeholder="Enter your text here">
                    <label for="content"
                        class="text-3xl capitalize mt-2 mb-1 font-semibold text-gray-700">Content</label>
                    <textarea required onchange="setObject(this)" rows="10" name="content" id="content"
                        class="shadow-md shadow-gray-200 rounded-md px-2 py-3 text-xl"
                        placeholder="Enter your text here"><%= post ? post.content  : '' %></textarea>
                    <label for="tags">Tags (comma-separated):</label>
                    <input value="<%= post.tags ? post.tags.join(',') : '' %>" required onchange="setObject(this)" type="text" id="tags" name="tags" placeholder="Enter tags" class="border p-2 rounded">

                    <div>
                        <% if (update) {%>
                            <input type="submit" onclick="update(event , user='<%=post ? post.user_id : `` %>', pid='<%=post ? post._id : ``  %>')" value="Update"
                            class="mt-4 cursor-pointer text-white font-bold text-xl bg-green-400 px-4 py-3 w-min uppercase rounded-md shadow-lg shadow-green-500/50">
                        <% } else { %>
                            <input type="submit" onclick="post(event , user=1)" value="submit"
                            class="mt-4 cursor-pointer text-white font-bold text-xl bg-green-400 px-4 py-3 w-min uppercase rounded-md shadow-lg shadow-green-500/50">
                        <% } %>
                    </div>
                </form> 
            </div>
            <%- include('../Sidebar'); %>
        </div>
</body>
<script src="/src/js/post/post.js"></script>

</html>